<div class="mb-3">
  <div class="tag">
    <div class="tag__label">Lorem, ipsum.</div>
    <div class="tag__close">x</div>
  </div>
</div>
<div class="mb-3">
  <div class="tag tag--base">
    <div class="tag__label">Lorem, ipsum.</div>
    <div class="tag__close">x</div>
  </div>
</div>