@if $config {
	:root {
		--font: '#{$font}';
		--font-color: #{$color};
		--link-color: #{$linkColor};
		--background-color: #{$backgroundColor};
		--border-color: #{$borderColor};
		--font-size-relative: #{$fontSizeRelative};
		--font-size: #{$fontSize};

		@each $group in $config {
			$groupName: map-get($group, 'name');
			$options: map-get($group, 'options');
			$selector: map-get($group, 'selector');
			@if $groupName == 'font-family' {
				$fontNameOptions: ();
				$count: 0;
				@each $option in $options {
					$fontNameOptions: append($fontNameOptions, map-get($option, 'name'));
				}
				@each $name in $fontNameOptions {
					@if $font != $name {
						--#{$selector}-#{$count}: '#{$name}';
						$count: $count + 1;
					}
				}
			}
			 @else if $groupName == 'font-size-root' {
				@each $option in $options {
					$mediaString: map-get($option, 'mediaString');
					$value: map-get($option, 'value');
					--#{$selector}-#{$mediaString}: #{$value};
				}
			}
			 @else if $groupName == 'font-size-title' {
				$count: 1;
				@each $option in $options {
					$key: map-keys($option);
					$value: map-values($option);
					--#{$selector}-#{$key}: #{$value};
				}
			}
			 @else if $groupName == 'font-size-text' or $groupName == 'font-size-title' or $groupName == 'border-radius' {
				@each $option in $options {
					$key: map-keys($option);
					$value: map-values($option);
					--#{$selector}-#{$key}: #{$value};
				}
			} @else if $groupName == 'colors' or $groupName == 'background-color' or $groupName == 'border-color' or $groupName == 'box-shadow-color'  {
				@each $option in $options {
					$optionsList: map-get($option, 'options');
					$selectorV2: map-get($option, 'selector');
					@each $optionList in $optionsList {
						$key: map-keys($optionList);
						$value: map-values($optionList);
						--#{$selector}-#{$selectorV2}-#{$key}: #{$value};
					}
				}
			} @else if $groupName == 'grid' {
				@each $option in $options {
					$selectorV2: map-get($option, 'selector');
					$value: map-get($option, 'value');
					$result: if($selectorV2 == '', --#{$selector}, --#{$selector}-#{$selectorV2});
					#{$result}: #{$value};
				}
			}
		}
	}
}