.card {}

.card-layout {
  padding: 15 / $fontSizeRelative + em;
  border: 1px solid var(--bdc-1-4);
  background-color: var(--bgc-0-0);
  @extend .box-shadow-0;
  @extend .border-radius-0;

  @include media(m, $lg) {
    padding: 30 / $fontSizeRelative + em;
  }
}

.card-layout-secondary {
  @extend .card-layout;
  @extend .gradient-1;
  color: var(--cf-1-0);
}

.card-layout-third {
  @extend .card-layout;
  background-color: var(--bgc-4-2);
}

.card-layout-fourth {
  @extend .card-layout;
  background-color: var(--bgc-2-0);
  border: 1px solid var(--bdc-1-4);
  box-shadow: none;
  padding: 0;
}

.card-bot-stats {
  @extend .card-layout;
  width: 455 / $fontSizeRelative + em;

  .card__ratio {
    width: 100%;
    height: 100%;
    --bs-aspect-ratio: calc(220 / 395 * 100%);
    margin-bottom: 20 / $fontSizeRelative + em;
  }

  .card__title {
    font-weight: 700;
    color: var(--cf-0-1);
    margin-bottom: .35em;
  }

  .card__username {
    font-size: var(--text-4);
    font-weight: 700;
    margin-bottom: 1em;
  }
}

.card-subscribers-stats {
  @extend .card-layout;
  width: 605 / $fontSizeRelative + em;

  .card__title {
    color: var(--cf-0-1);
    font-weight: 700;
    margin-bottom: 10 / $fontSizeRelative + em;
  }

  .card__title-sub {
    color: var(--cf-3-2);
    font-size: var(--text-3);
    font-weight: 700;
    margin-bottom: 1em;
  }

  .card__chart-ratio {
    width: 100%;
    --bs-aspect-ratio: calc(350 / 560 * 100%)
  }
}

.card-balance {
  @extend .card-layout;
  width: 350 / $fontSizeRelative + em;

  .card__user-balance {
    padding: 10 / $fontSizeRelative + em;
    margin-bottom: 10 / $fontSizeRelative + em;
    color: var(--cf-1-0);
    border-radius: 5 / $fontSizeRelative + em;
    @extend .gradient-0;

    @include media(m, $lg) {
      padding: 20 / $fontSizeRelative + em;
      margin-bottom: 20 / $fontSizeRelative + em;
    }
  }

  .card__user-balance-label {
    font-size: var(--text-3);
    margin-bottom: 5 / 14 + em;
  }

  .card__user-balance-total {
    font-size: var(--h-5);
    font-weight: 700;
  }
}

.card-subscribers {
  @extend .card-layout;
  width: 350 / $fontSizeRelative + em;

  .card__head {
    margin-bottom: 25 / $fontSizeRelative + em;
  }

  .card__title {
    color: var(--cf-0-1);
    font-weight: 700;
  }

  .card__title-sub {
    font-size: var(--text-3);
    font-weight: 700;
    color: var(--cf-3-2);
  }

  .card__body {}

  .list-subscribers {}

  .card__foot {
    padding-top: 14 / $fontSizeRelative + em;
  }
}

.card-faq {
  @extend .card-layout-secondary;
  // flex-direction: column;
  width: 350 / $fontSizeRelative + em;
  justify-content: space-between;
  text-align: center;

  .card__head {}

  .card__title {
    font-size: var(--h5);
    font-weight: 700;
  }

  .card__body {
    width: 100%;
    padding: 10 / $fontSizeRelative + em 0;
  }

  .card__img {
    max-width: 170 / $fontSizeRelative + em;
    margin: 0 auto;
  }

  .card__foot {}
}

.card-bot-settings {
  width: 585 / $fontSizeRelative + em;
  background: #FFFFFF;
  border: 1px solid var(--bdc-1-4);
  @extend .box-shadow-0;
  border-radius: 5 / $fontSizeRelative + em;

  .card__title {
    font-weight: bold;
    font-size: var(--text-1);
    line-height: 1.2rem;
    color: var(--cf-0-1);
  }

  .settings-photo {
    padding: 30 / $fontSizeRelative+em;
    border-bottom: 1px solid var(--bdc-1-4);

    .card__block--base {
      .card__img {
        text-align: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20 / $fontSizeRelative + em;
      }

      .card__text--base {
        font-size: var(---text-3);
        line-height: 1rem;
        color: var(--cf-2-2);
        text-align: center;
        margin-bottom: 30 / $fontSizeRelative + em;
      }
    }

    .card__block--second {

      .card__title--base {
        margin-bottom: 20 / $fontSizeRelative + em;
      }

      .card__btn-group {
        margin: 0 0 10 / $fontSizeRelative + em 0;

        .card__btn--base {
          margin-right: 10 / $fontSizeRelative + em;
        }
      }

      .card__text--second {
        font-size: var(--text-3);
        line-height: 1.4rem;
        color: var(--cf-0-1);
        margin: 0;
      }
    }
  }

  .settings-bot {
    padding: 30 / $fontSizeRelative + em;

    .card__title--second {
      margin-bottom: 20 / $fontSizeRelative + em;
    }

    .card__input-block {
      margin-bottom: 20 / $fontSizeRelative + em;
      padding: 0 5 / $fontSizeRelative  + em;

      .card__input {
        width: 100%;
        background: var(--bgc-0-0);
        border: 1px solid var(--bdc-1-4);
        border-radius: 10 / $fontSizeRelative + em;
        font-weight: 300;
        font-size: var(--text-3);
        line-height: 1.4rem;
        color: var(--cf-0-1);
        padding: 13 / $fontSizeRelative  + em 20 / $fontSizeRelative  + em;
      }
    }

    .form-switch__group{
      justify-content: space-between;
    }
  }
}