.link {
}
.link-base {
  // color: var(--cf-2-0);
}
.link-nav {
  display: flex;
  flex-wrap: nowrap;
  .svg-icon {
    font-size: var(--h-5);
    color: var(--cf-2-4);
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10 / 20 + em;
  }
  .link__label {
    font-weight: 700;
    color: var(--cf-2-0);
  }
  &:hover {
    text-decoration: none;
  }
  &.active {
    .svg-icon, .link__label {
      color: var(--cf-3-0)
    }
  }
}

.link-nav-secondary {
  @extend .link-nav;
  .link__label {
    font-weight: 400;
  }
}