.list {}

.list-categories {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    a {
      padding: 15 / $fontSizeRelative + em;
    }

    &:hover {
      a {
        background-color: var(--bgc-4-2);

        .link__label,
        .svg-icon {
          color: var(--cf-3-0);
        }

        .link-label {
          opacity: 0.8;
        }
      }
    }
  }
}

.list-stats {
  .list__list {
    padding: 0;
    list-style: none;
  }

  .list__item-head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 8 / $fontSizeRelative + em;
  }

  .list__item-ratio {
    width: 21 / $fontSizeRelative + em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: .4em;
  }

  .list__item-head-title {
    font-size: var(--text-4);
    color: var(--cf-2-3);
    font-weight: 700;
    flex-grow: 1;
  }

  .list__item-value {
    color: var(--cf-0-2);
    font-size: var(--h-4);
    font-weight: 700;
    margin-bottom: 10 / 24 + em;
  }

  .list__item-progressbar {
    position: relative;
    background-color: var(--bgc-1-1);
    height: 3px;
    border-radius: 1.5px;
    width: 100%;
    max-width: 65 / $fontSizeRelative + em;
  }

  .list__item-progressbar-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--bgc-5-0);
  }
}

.list-user-options {
  margin-bottom: 5 / $fontSizeRelative + em;

  .list__item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 13 / $fontSizeRelative + em;
  }

  .list__item-icon-wrap {
    width: 42 / $fontSizeRelative + em;
    height: 42 / $fontSizeRelative + em;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10 / $fontSizeRelative + em;
    background-color: var(--bgc-2-0);
  }

  .list__item-icon {
    font-size: var(--h-5);
    color: var(--cf-3-0);
  }

  .list__item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
  }

  .list__item-main {
    font-size: var(--text-3);
    margin-bottom: 5 / $fontSizeRelative + em;

    strong {
      font-weight: 700;
      color: var(--cf-0-1);
    }
  }

  .list__item-status {
    font-size: var(--text-4);
  }
}


.list-subscribers {
  .list__item {
    margin-bottom: 14 / $fontSizeRelative + em;
  }

  .list__item-subscriber {
    display: flex;
    flex-wrap: nowrap;
  }

  .list__item-subscriber-avatar {
    width: 40 / $fontSizeRelative + em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 20 / $fontSizeRelative + em;
  }

  .list__item-subscriber-name {
    font-size: var(--text-3);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list__item-subscriber-date {
    font-size: var(--text-4);
    color: var(--cf-0-1);
    font-weight: 300;
  }
}

.list-stats-main, .list-stats-secondary {
  margin-bottom: 30 / $fontSizeRelative + em;
  .container-fluid {
    max-width: 100%;
  }
  .card {
    @include media(d, $md) {
      width: 100%;
    }
  }
}