.modal {

}
.modal-base {
  .modal-dialog {
    @include media(m, $sm) {
      max-width: 560 / $fontSizeRelative + em;
    }
  }
  .modal-content {
    border: none;
    padding: 20 / $fontSizeRelative + em;
    @extend .box-shadow-2;
    border-radius: 10 / $fontSizeRelative + em;
    background-color: var(--bgc-2-0);
    @include media(m, $xl) {
      padding: 50 / $fontSizeRelative + em;
    }
  }
  .modal-header {
    position: relative;
    padding: 0 40 / $fontSizeRelative + em 30 / $fontSizeRelative + em 0;
    border-bottom-color: var(--bdc-1-2);
  }
  .btn-close {
    position: absolute;
    top: -5 / $fontSizeRelative + em;
    right: 0 / $fontSizeRelative + em;
    z-index: 2;
    color: var(--cf-2-4);
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  h6 {
    color: var(--cf-2-0);
    margin: 0;
  }
  .modal-body {
    padding: 30 / $fontSizeRelative + em 0 20 / $fontSizeRelative + em;
  }
  .modal__link {
    font-size: var(--text-3);
    padding-left: 1em;
  }
  .modal-footer {
    display: block;
    padding: 0;
    border: none;
    & > * {
      margin: 0;
    }
  }
  .modal__footer-in {
    width: 100%;
  }
}