.nav {

}
.nav-base {
  flex-direction: column;
  flex-wrap: nowrap;
  .nav__head {
    padding: 25 / $fontSizeRelative + em 0;
  }
  .nav__foot {
    // margin-top: 10 / $fontSizeRelative + em;
    padding: 25 / $fontSizeRelative + em 0;
  }
  .nav__scroll {
    padding: 25 / $fontSizeRelative + em 0;
    border-top: 1px solid var(--bdc-1-4);
    border-bottom: 1px solid var(--bdc-1-4);
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
  }
  .link-nav-secondary, .collapse-box__toggle {
    padding-left: 40 / $fontSizeRelative + em;
    padding-right: 10 / $fontSizeRelative + em;    
  }
}