@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'name');
		$selector: map-get($group, 'selector');
		$items: map-get($group, 'options');
		@if $groupName == 'font-size-text' {
			@each $item in $items {
				$key: map-keys($item);
				$value: map-values($item);
				// @include set-typography('.text--#{$name}', $groupName, $name, null, $value);
				.text--#{$key} {
					font-size: var(--#{$selector}-#{$key});
				} 
			}
		}
	};
}


.text {

}
.text-user {
	display: flex;
	flex-wrap: nowrap;
	.text__user-avatar {
		width: 60 / $fontSizeRelative + em;
		--bs-aspect-ratio: 100%;
		flex-shrink: 0;
		flex-grow: 0;
		margin-right: 1em;
	}
	.text__user-body {
		flex-grow: 1;
		flex-shrink: 1;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.text__user-name {
		font-size: var(--h-6);
		font-weight: 700;
		margin-bottom: 0.5em;
	}
	.text__user-id {
		font-size: var(--text-4);
		color: var(--cf-2-4);
		font-weight: 700;
	}
}