.products-content {
  padding: 30 / 15 + em;
  background: var(--bgc-0-0);
  border: 1px solid rgba(189, 189, 189, 0.3);
  @extend .box-shadow-0;
  border-radius: 5px;
  width: 100%;
  min-width: 1030px;
  overflow-x: auto;
  margin-bottom: 70 / $fontSizeRelative + em;

  .table> :not(caption)>*>* {
    padding: 0;
  }

  .products-head {
    align-items: center;
    margin-bottom: 30 / $fontSizeRelative + em;

    .products-head__col--base {
      margin-right: auto;
    }

    .products-head__col--secondary {
      .button-base {
        padding: 11 / 13 + em 48 / 13 + em;
      }
    }

    .products-head__col--third {
      .button-secondary {
        padding: 11 / 13 + em 34 / 13 + em;
      }
    }
  }

  .products-table {
    background: var(--bgc-2-0);
    border: 1px solid rgba(189, 189, 189, 0.3);
    border-radius: 5 / $fontSizeRelative + em;

    .table__top {
      padding: 20 / $fontSizeRelative + em 95 / $fontSizeRelative + em 20 / $fontSizeRelative + em 45 / $fontSizeRelative + em;
      // 20 95 20 45
      border-bottom: 1px solid rgba(189, 189, 189, 0.3);
      justify-content: space-between;
      margin: 0;

      .table__btn {
        border: none;
        display: flex;
        align-items: center;
        padding: 0;

        svg {
          color: var(--cf-2-4);
          font-size: 11 / $fontSizeRelative + em;
        }

        span {
          padding-left: 10 / $fontSizeRelative + em;
          font-weight: 600;
          font-size: var(--text-1);
          line-height: 1.2rem;
          color: var(--cf-0-1);
        }
      }
    }

    .products-list-group {
      padding: 20 / $fontSizeRelative + em;

      .list-group__item {
        padding: 20 / $fontSizeRelative + em;
        display: flex;
        align-items: center;
        background-color: var(--bgc-0-0);
        border-radius: 5 / $fontSizeRelative + em;

        .list-group-drag {
          color: var(--cf-2-4);
          font-size: 11 / $fontSizeRelative + em;
        }

        .btn-group {
          display: flex;
          align-items: center;

          .button {
            .svg-icon {
              font-size: 22 / $fontSizeRelative + em;
              color: var(--cf-2-4);
            }
          }

          .btn-edit {
            margin-right: 5 / $fontSizeRelative + em;
          }
        }

        .list-group__inner {
          align-items: center;
          width: 100%;
          margin: 0;
        }

        .inner__item {
          padding: 0 10 / $fontSizeRelative + em 0 20 / $fontSizeRelative + em;
          cursor: move;
          cursor: -webkit-grabbing;
        }

        .item--base {
          display: flex;
          align-items: center;

          .list-group__text--base {
            font-size: var(--text-1);
            line-height: 1.2rem;
            color: var(--cf-0-1);

            .span--second {
              display: none;
            }
          }
        }

        .item--second {
          .products-item__btn {
            border: none;
            padding: 0;
            line-height: 1.2rem;
            font-size: var(--text-1);
            padding-left: 15 / $fontSizeRelative + em;
          }

          .btn-toggle--base {
            color: var(--cf-3-0);
            display: block;
          }

          .btn-toggle--secondary {
            color: var(--cf-5-1);
            display: none;
          }
        }

        .item--third {
          .list-group__text--second {
            font-size: var(--text-1);
            line-height: 1.2rem;
            color: var(--cf-0-1);

            .span--second {
              display: none;
            }

            @include media(d, $lg) {
              .span--base {
                display: none;
              }

              .span--second {
                display: block;
              }
            }
          }
        }

        .item--fourth {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .list-group__date {
            text-align: center;
          }
        }
      }
    }

    .list-group__item+.list-group__item {
      margin-top: 20 / $fontSizeRelative + em;
    }
  }

  .title--base {
    font-weight: bold;
    font-size: var(--h-6);
    line-height: 1.2rem;
    color: var(--cf-0-1);
  }

  .layout__content-footer {
    .pagination {
      margin: 30 / $fontSizeRelative + em 0 0 0;
    }

    .page-item {
      width: 28 / $fontSizeRelative+em;
      min-height: 28 / $fontSizeRelative+em;

      .page-link {
        font-weight: 300;
        font-size: var(--text-3);
        line-height: 1.7rem;
        color: var(--cf-2-0);
        background: var(--bgc-0-0);
        border: 1px solid rgba(189, 189, 189, 0.3);
        border-radius: 5 / $fontSizeRelative + em;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .page-item.active,
    .page-item__number:hover {
      .page-link {
        font-weight: bold;
        font-size: var(--text-2);
        line-height: 1.7rem;
        color: var(--cf-1-0);
        background: var(--cf-2-4);
        border-radius: 5 / $fontSizeRelative + em;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }

    .page-item:not(:first-child) .page-link {
      margin-left: 0;
    }

    .page-item-next {
      .svg-icon {
        transform: rotate(180deg);
      }
    }

    .page-item-previous,
    .page-item-next {
      .page-link {
        border: none;
        background: transparent;
      }

      .svg-icon {
        color: var(--cf-2-4);
        font-size: 11 / $fontSizeRelative + em;
      }
    }

    .page-item__number+.page-item__number {
      margin-left: 10 / $fontSizeRelative + em;
    }
  }
}

.orders-content {
  @extend .products-content;
  padding: 30 / 15 +em;
  background: var(--bgc-0-0);
  border: 1px solid rgba(189, 189, 189, 0.3);
  @extend .box-shadow-0;
  border-radius: 5 / $fontSizeRelative + em;
  width: 100%;
  min-width: 1030px;
  overflow-x: auto;
  margin-bottom: 70 / $fontSizeRelative + em;

  .table> :not(caption)>*>* {
    padding: 0;
  }

  .orders-head {
    margin-bottom: 30px;
    align-items: center;
  }

  .orders-head__col--base {
    margin: 0 auto 0 0;
  }

  .orders-head__col--second {
    .item__input {
      padding: 13 / $fontSizeRelative + em 41 / $fontSizeRelative + em;
      font-weight: 300;
      font-size: var(--text-3);
      line-height: 20 / $fontSizeRelative + em;
      color: var(--cf-0-1);
      background: var(--bgc-0-0);
      border: 1px solid rgba(189, 189, 189, 0.3);
      border-radius: 5 / $fontSizeRelative + em;
      position: relative;
      min-height: 46px;
      max-width: 160px;
      width: 100%;
    }

    .item__input::placeholder {
      font-weight: 300;
      font-size: var(--text-3);
      line-height: 20 / $fontSizeRelative+em;
      color: var(--cf-2-4);
    }
  }

  .orders-head__col--third {
    @extend .orders-head__col--second;
  }

  .orders-head__col--fourth {
    max-width: 215 / $fontSizeRelative + em;
    width: 100%;

    .select2-results__options {
      padding: 0;
    }

    .select2-search.select2-search--dropdown {
      display: none;
    }

    .select-base .select2-results__option {
      padding: 13 / 14 + em 20 / 14 + em;
    }

    .select-base .select2-results__option--highlighted {
      background-color: var(--bgc-0-0) !important;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
      color: var(--cf-3-0);
      background-color: rgba(247, 247, 247, 0.8) !important;
    }
  }

  .orders-head__col--fifth {
    .layout__content-head__btn {
      padding: 11 / $fontSizeRelative + em 81 / $fontSizeRelative + em;
    }
  }

  .orders-table {
    background: var(--bgc-2-0);
    border: 1px solid rgba(189, 189, 189, 0.3);
    border-radius: 5 / $fontSizeRelative+em;

    .table__top {
      padding: 20 / $fontSizeRelative + em 28 / $fontSizeRelative + em;
      border-bottom: 1px solid rgba(189, 189, 189, 0.3);
      justify-content: space-between;
      margin: 0;

      .table__btn {
        border: none;
        display: flex;
        align-items: center;
        padding: 0;

        svg {
          color: var(--cf-2-4);
          font-size: 11 / $fontSizeRelative + em;
        }

        span {
          padding-left: 10 / $fontSizeRelative + em;
          font-weight: 600;
          font-size: var(--text-1);
          line-height: 1.2rem;
          color: var(--cf-0-1);
        }
      }

      .table__title {
        text-align: center;
      }

      .table__title--base {
        max-width: 75px;
        width: 100%;

        .table__btn {
          span {
            padding: 0;
          }
        }
      }

      .table__title--second {
        // max-width: 210px;
        max-width: 235px;
        width: 100%;
      }

      .table__title--third {
        // max-width: 135px;
        max-width: 216px;
        width: 100%;
      }

      .table__title--fourth {
        // max-width: 188px;
        max-width: 200px;
        width: 100%;
      }

      .table__title--fifth {
        // max-width: 120px;
        max-width: 180px;
        width: 100%;
      }
    }

    .orders-list-group {
      padding: 20 / $fontSizeRelative + em;

      .list-group__item {
        background: var(--bgc-0-0);
        border-radius: 5 / $fontSizeRelative + em;
        padding: 20 / $fontSizeRelative+em 12 / $fontSizeRelative+em;

        .list-group__inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;

          .item--base {
            max-width: 75px;
            width: 100%;
          }

          .item--second {
            max-width: 235px;
            width: 100%;
          }

          .item--third {
            max-width: 216px;
            width: 100%;
          }

          .item--fourth {
            max-width: 200px;
            width: 100%;
          }

          .item--fifth {
            max-width: 164px;
            width: 100%;
          }
        }
      }

      .list-group__item+.list-group__item {
        margin-top: 20px;
      }
    }
  }
}

.followers-content {
  @extend .products-content;
  padding-top: 36 / $fontSizeRelative + em;

  .table> :not(caption)>*>* {
    padding: 0;
  }

  .followers-head {
    @extend .orders-head;
    margin-bottom: 30 / $fontSizeRelative + em;


    .followers-head_title {
      font-weight: bold;
      font-size: var(--h-6);
      line-height: 22 / $fontSizeRelative + em;
    }
  }

  .followers-table {
    @extend .products-table;

    .table__top {
      padding: 20 / $fontSizeRelative + em 28 / $fontSizeRelative + em;
      justify-content: normal;

      .table__title--second {
        padding-left: 90 / $fontSizeRelative + em;
      }
    }

    .followers-list-group {
      padding: 20 / $fontSizeRelative + em;

      .list-group__item {
        background: var(--bgc-0-0);
        border-radius: 5 / $fontSizeRelative+em;
        padding: 20 / $fontSizeRelative+em 8 / $fontSizeRelative+em;

        .list-group__inner {
          justify-content: space-between;
          margin: 0;

          .item--base {
            .list-group__text--base {
              display: flex;
              align-items: center;

              .span--base {
                margin-left: 10px;
              }
            }
          }

          .item--second {
            .list-group__text--base {
              display: flex;
              align-items: center;

              .list-group__btn--base {
                padding-left: 30 / $fontSizeRelative + em;
                border-left: 1px solid rgba(189, 189, 189, 0.3);
                display: block;

                .button-base {
                  padding: 11 / $fontSizeRelative + em 51 / $fontSizeRelative + em;
                }
              }

              .list-group__btn--second {
                // @extend .list-group__btn;
                display: none;

                .button-base {
                  background-color: var(--cf-2-0);
                }
              }

              .span--base {
                padding-right: 30 / $fontSizeRelative + em;
              }
            }

            // .layout__content-footer {
            //   .pagination {
            //     margin: 30 / $fontSizeRelative + em 0 0 0;
            //   }

            //   .page-item {
            //     width: 28 / $fontSizeRelative+em;
            //     min-height: 28 / $fontSizeRelative+em;

            //     .page-link {
            //       font-weight: 300;
            //       font-size: var(--text-3);
            //       line-height: 1.7rem;
            //       color: var(--cf-2-0);
            //       background: var(--bgc-0-0);
            //       border: 1px solid rgba(189, 189, 189, 0.3);
            //       border-radius: 5 / $fontSizeRelative + em;
            //       padding: 0;
            //       display: flex;
            //       justify-content: center;
            //       align-items: center;

            //       &:focus {
            //         box-shadow: none;
            //       }
            //     }
            //   }

            //   .page-item.active,
            //   .page-item__number:hover {
            //     .page-link {
            //       font-weight: bold;
            //       font-size: var(--text-2);
            //       line-height: 1.7rem;
            //       color: var(--cf-1-0);
            //       background: var(--cf-2-4);
            //       border-radius: 5 / $fontSizeRelative + em;
            //       text-decoration: none;
            //       display: flex;
            //       align-items: center;
            //       justify-content: center;
            //       z-index: 1;
            //     }
            //   }

            //   .page-item:not(:first-child) .page-link {
            //     margin-left: 0;
            //   }

            //   .page-item-next {
            //     .svg-icon {
            //       transform: rotate(180deg);
            //     }
            //   }

            //   .page-item-previous,
            //   .page-item-next {
            //     .page-link {
            //       border: none;
            //       background: transparent;
            //     }

            //     .svg-icon {
            //       color: var(--cf-2-4);
            //       font-size: 11 / $fontSizeRelative + em;
            //     }
            //   }

            //   .page-item__number+.page-item__number {
            //     margin-left: 10 / $fontSizeRelative + em;
            //   }
            // }
          }
        }

        .list-group__item.active {
          .list-group__btn--base {
            display: none;
          }

          .list-group__btn--second {
            display: block;
          }
        }


        .list-group__item+.list-group__item {
          margin-top: 20px;
        }
      }
    }
  }
}

.mailing-content {
  @extend .products-content;
  min-width: auto;
  padding-right: 19 / $fontSizeRelative + em;

  .mailing-main__row {
    margin: 0;
  }

  .mailing-head {
    margin-bottom: 30 / $fontSizeRelative + em;
  }

  .mailing-main {
    .mailing-main__base {
      padding-left: 0;

      .mailing-main__textarea {
        width: 100%;
        height: 100%;
        background: var(--bgc-0-0);
        border: 1px solid var(--bdc-1-4);
        border-radius: 5 / $fontSizeRelative + em;
      }
    }

    .mailing-main__second {
      max-width: 246 / $fontSizeRelative + em;
      width: 100%;

      .image-settings--base {
        margin-bottom: 20 / $fontSizeRelative + em;
      }

      .image-settings__title {
        font-weight: bold;
        font-size: var(--text-1);
        line-height: 1.1rem;
        color: var(--cf-0-1);
        margin-bottom: 20 / $fontSizeRelative + em;
      }

      .image-settings--third,
      .image-settings--fourth {
        margin-bottom: 20 / $fontSizeRelative + em;
      }

      .image-settings__btn {
        width: 100%;
      }

      .image-settings--fifth {
        font-weight: 300;
        font-size: var(--text-3);
        line-height: 1.4rem;
        color: var(--cf-0-1);
        margin-bottom: 10 / $fontSizeRelative + em;
      }

      .image-settings--sixth {
        font-weight: 300;
        font-size: var(--text-3);
        line-height: 1.2rem;
        color: var(--cf-2-2);
        max-width: 200 / $fontSizeRelative + em;
        margin: 0;
      }

      .image-settings--seventh {
        margin-top: 160 / $fontSizeRelative + em;
      }

      .form-datepicker-base {
        position: relative;

        .input-group-addon {
          z-index: 2 !important;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1em;
          width: auto;
          height: auto;

          .svg-icon {
            font-size: var(--text-5);
          }
        }

        .form-control {
          padding-left: 2.5em;
          z-index: 1 !important;
          border-radius: 5 / 14 + em !important;
        }

        .dropdown-menu {
          padding: 10 / 12 + em;
          border: 1px solid var(--bdc-1-4);
          margin-top: 10 / 12 + em;

          color: var(--cf-0-1);
          font-size: var(--text-4);

          // @extend .box-shadow-4;
          border-radius: 5 / 12 + em;
          background-color: var(--bgc-0-0);

          &:before,
          &:after {
            display: none;
          }
        }

        .datepicker-switch {
          color: var(--cf-0-1);
          font-weight: 600;
          text-transform: none;
        }

        th {
          font-size: var(--text-5);
          color: var(--cf-2-4);
          font-weight: 400;
          padding: 10 / 10 + em 5 / 10 + em;
          text-transform: uppercase;

          &:hover {
            background-color: var(--bgc-2-0) !important;
          }
        }

        .day {
          width: 28 / 12 + em;
          height: 28 / 12 + em;
          border-radius: 50%;

          &.active {
            color: var(--cf-1-0);
            background: var(--bgc-4-0) !important;

            &:hover {
              background: var(--bgc-4-0) !important;
            }
          }

          &:hover {
            background-color: var(--bgc-2-0) !important;
          }
        }

        .century,
        .decade,
        .month,
        .year {
          height: 44 / 12 + em;
          line-height: 44 / 12 + em;

          &.active,
          &.focused {
            color: var(--cf-1-0);
            background: var(--bgc-4-0) !important;

            &:hover {
              background: var(--bgc-4-0) !important;
            }
          }

          &:hover {
            background-color: var(--bgc-2-0) !important;
          }
        }
      }
    }
  }
}

.layout__content {
  .layout__content-footer {
    .pagination {
      margin: 30 / $fontSizeRelative + em 0 0 0;
    }

    .page-item {
      width: 28 / $fontSizeRelative+em;
      min-height: 28 / $fontSizeRelative+em;

      .page-link {
        font-weight: 300;
        font-size: var(--text-3);
        line-height: 1.7rem;
        color: var(--cf-2-0);
        background: var(--bgc-0-0);
        border: 1px solid rgba(189, 189, 189, 0.3);
        border-radius: 5 / $fontSizeRelative + em;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .page-item.active,
    .page-item__number:hover {
      .page-link {
        font-weight: bold;
        font-size: var(--text-2);
        line-height: 1.7rem;
        color: var(--cf-1-0);
        background: var(--cf-2-4);
        border-radius: 5 / $fontSizeRelative + em;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }

    .page-item:not(:first-child) .page-link {
      margin-left: 0;
    }

    .page-item-next {
      .svg-icon {
        transform: rotate(180deg);
      }
    }

    .page-item-previous,
    .page-item-next {
      .page-link {
        border: none;
        background: transparent;
      }

      .svg-icon {
        color: var(--cf-2-4);
        font-size: 11 / $fontSizeRelative + em;
      }
    }

    .page-item__number+.page-item__number {
      margin-left: 10 / $fontSizeRelative + em;
    }
  }
}