<div class="header header-base" id="myHeader">
  <div class="container-fluid">
    <div class="row row-cols-auto gy-4 gx-4 align-items-center justify-content-between">
      <div class="col">
        <div class="header__logo">
          <a class="logo logo-base" href="#">
            <div class="logo__ratio ratio">
              <img src="img/logo.png" alt="">
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="header__user">
          <div class="text text-user">
            <div class="text__user-avatar ratio">
              <img src="img/img-avatar.png" alt="">
            </div>
            <div class="text__user-body">
              <div class="text__user-name">botname_bot</div>
              <div class="text__user-id">ID 000193</div>
            </div>
          </div>
        </div>
      </div>
      <div class="header__form-search col ms-auto" id="search">
        <button class="header__toggle" type="button" data-element="toggle" data-target="#search">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-search"></use>
          </svg>
        </button>
        <button class="header__toggle-close" type="button" data-element="toggle" data-target="#search">
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
        <form class="form form-search">
          <button class="form__search-submit" type="submit">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-search"></use>
            </svg>
          </button>
          <input class="form-control" type="text" placeholder="Поиск">
        </form>
      </div>
    </div>
  </div>
</div>