<div class="mb-3">
  <div class="row row-cols-auto gy-3 gx-3">
    <div class="col">
      <a class="button button-base" href="#">Пополнить счёт</a>
    </div>
    <div class="col">
      <button class="button button-base" type="button">Пополнить счёт</button>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row row-cols-auto gy-3 gx-3">
    <div class="col">
      <a class="button button-secondary" href="#">Пополнить счёт</a>
    </div>
    <div class="col">
      <button class="button button-secondary" type="button">Пополнить счёт</button>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row row-cols-auto gy-3 gx-3">
    <div class="col">
      <a class="button button-third" href="#">Пополнить счёт</a>
    </div>
    <div class="col">
      <button class="button button-third" type="button">Пополнить счёт</button>
    </div>
  </div>
</div>