<div class="mb-3">
  <div class="card card-layout">card wrap</div>
</div>
<div class="mb-3">
  <div class="card card-layout-secondary">card wrap #2</div>
</div>
<div class="mb-3">
  <div class="card card-layout-third">card wrap #3</div>
</div>
<div class="mb-3">
  <div class="card card-layout-fourth">
    <div class="p-3">card wrap #5</div>
  </div>
</div>

<div class="mb-3">
  <div class="card card-bot-stats">
    <div class="card__ratio ratio flex-grow-1">
      <img src="img/img-bot-stats.svg" alt="">
    </div>
    <div class="card__title">Статистика бота</div>
    <div class="card__username">@username</div>
    <div class="list list-stats">
      <ul class="
                      list__list
                      row row-cols-1 row-cols-sm-2 row-cols-md-auto
                      gx-3
                      gy-3
                    ">
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-0.svg" alt="" />
            </div>
            <div class="list__item-head-title">Категорий</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">4</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 10%">
                &nbsp;
              </div>
            </div>
          </div>
        </li>
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-1.svg" alt="" />
            </div>
            <div class="list__item-head-title">Страниц</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">14</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 20%">
                &nbsp;
              </div>
            </div>
          </div>
        </li>
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-2.svg" alt="" />
            </div>
            <div class="list__item-head-title">Товаров</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">19</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 25%">
                &nbsp;
              </div>
            </div>
          </div>
        </li>
        <li class="list__item col">
          <div class="list__item-head">
            <div class="list__item-ratio ratio ratio-1x1">
              <img src="img/icon-stats-3.svg" alt="" />
            </div>
            <div class="list__item-head-title">Подписчиков</div>
          </div>
          <div class="list__item-body">
            <div class="list__item-value">82</div>
            <div class="list__item-progressbar">
              <div class="list__item-progressbar-line" style="width: 35%">
                &nbsp;
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="card card-subscribers-stats">
    <div class="card__title">Статистка подписчиков</div>
    <div class="card__title-sub">на 4% больше в этом месяце</div>
    <div class="card__chart-ratio">
      <canvas class="chart" data-element="chart"></canvas>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="card card-balance">
    <div class="card__user-balance">
      <div class="card__user-balance-label">Ваш счет</div>
      <div class="card__user-balance-total">25000.00 сум</div>
    </div>
    <div class="list list-user-options">
      <div class="list__item">
        <div class="list__item-icon-wrap">
          <svg class='list__item-icon svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
        </div>
        <div class="list__item-body">
          <div class="list__item-main"><strong>Ваш тариф:</strong> Premium</div>
          <div class="list__item-status">Активен до 2022-07-30</div>
        </div>
      </div>
      <div class="list__item">
        <div class="list__item-icon-wrap">
          <svg class='list__item-icon svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-rate'></use>
          </svg>
        </div>
        <div class="list__item-body">
          <div class="list__item-main"><strong>Ваш бот:</strong> Имя бота</div>
          <div class="list__item-status">Статус бота: включен</div>
        </div>
      </div>
    </div>
    <a class="button button-base" href="#">Пополнить счёт</a>
  </div>
</div>

<div class="mb-3">
  <div class="card card-subscribers">
    <div class="card__head">
      <span class="card__title">Новые подписчики</span>
      <span class="card__title-sub">+5 за неделю</span>
    </div>
    <div class="card__body">
      <div class="list list-subscribers">
        <div class="list__item">
          <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
            <div class="col">
              <div class="list__item-subscriber">
                <div class="list__item-subscriber-avatar ratio ratio-1x1">
                  <img src="img/img-subscriber-0.png" alt="">
                </div>
                <div class="list__item-subscriber-name">fiueyy</div>
              </div>
            </div>
            <div class="col">
              <div class="list__item-subscriber-date">15.02.2021</div>
            </div>
          </div>
        </div>
        <div class="list__item">
          <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
            <div class="col">
              <div class="list__item-subscriber">
                <div class="list__item-subscriber-avatar ratio ratio-1x1">
                  <img src="img/img-subscriber-1.png" alt="">
                </div>
                <div class="list__item-subscriber-name">andhdy</div>
              </div>
            </div>
            <div class="col">
              <div class="list__item-subscriber-date">25.02.2021</div>
            </div>
          </div>
        </div>
        <div class="list__item">
          <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
            <div class="col">
              <div class="list__item-subscriber">
                <div class="list__item-subscriber-avatar ratio ratio-1x1">
                  <img src="img/img-subscriber-2.png" alt="">
                </div>
                <div class="list__item-subscriber-name">ivanovvv</div>
              </div>
            </div>
            <div class="col">
              <div class="list__item-subscriber-date">31.01.2021</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card__foot">
      <a class="button button-secondary" href="#">Подробнее</a>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card-faq">
    <div class="card__head">
      <div class="card__title">Возникли вопросы?</div>
    </div>
    <div class="card__body">
      <div class="card__img ratio ratio-1x1">
        <img src="img/img-faq.svg" alt="">
      </div>
    </div>
    <div class="card__foot">
      <a class="button button-base" href="#">Файлы помощи</a>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card-bot-settings">
    <div class="settings-photo">
      <div class="block__base card__block--base">
        <div class="card__img">
          <img src="img/content-image-second.png" alt="">
        </div>
        <p class="card__text card__text--base">рекомендуемый размер : 500х500px</p>
      </div>
      <div class="card__block card__block--second">
        <div class="card__title card__title--base">Настройка фото</div>
        <div class="card__btn-group row">
          <button class="col button button-base card__btn--base" type="button">Выбрать файл</button>
          <button class="col button button-secondary card__btn--second" type="button">Удалить фото</button>
        </div>
        <p class="card__text card__text--second">
          Файл не выбран
        </p>
      </div>
    </div>
    <div class="settings-bot">
      <div class="card__block card__block--third">
        <div class="card__title card__title--second">Управление ботом</div>
        <div class="card__input-group row">
          <div class="card__input-block col-12">
            <input class="card__input card__input--base" type="text" placeholder="Укажите TOKEN бота">
          </div>
          <div class="card__input-block col-12">
            <input class="card__input card__input--base" type="text" placeholder="Укажите telegram-аккаунт для уведомлений">
          </div>
          <div class="card__input-block col-12">
            <input class="card__input card__input--base" type="email" placeholder="Введите email">
          </div>
          <div class="card__input-block col-6">
            <input class="card__input card__input--base" type="password" placeholder="Введите старый пароль">
          </div>
          <div class="card__input-block col-6">
            <input class="card__input card__input--base" type="password" placeholder="Введите новый пароль">
          </div>
        </div>
        <div class="form-switch__group"></div>
        <div class="form-switch form-switch-base">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Статус бота</label>
          </div>
        </div>
        <div class="form-switch form-switch-second">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault2">Default switch checkbox input</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>