<div class="mb-3">
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
      <div class="invalid-feedback">Looks good!</div>
    </div>
    <div class="mb-3">
      <div class="select select-base" id="select-0">
        <select
          name="state"
          data-element="select"
          data-placeholder="Выберите город"
          data-dropdown-parent="#select-0"
          data-dropdown-css-class="select__dropdown"
        >
          <option value=""></option>
          <option value="1">Alabama</option>
          <option value="2">Wyoming</option>
          <option value="3">Wyoming</option>
          <option value="4">Wyoming</option>
          <option value="5">Alabama</option>
          <option value="6">Wyoming</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
      </div>
    </div>
  </form>
</div>
<div class="mb-3">
  <form class="form form-search">
    <button class="form__search-submit" type="submit">
      <svg class='svg-icon'>
        <use xlink:href='img/svgSprite.svg#icon-search'></use>
      </svg>
    </button>
    <input class="form-control" type="text" placeholder="Поиск">
  </form>
</div>
