<div class="mb-3">
  <a class="link link--base" href="#">Link</a>
</div>
<div class="mb-3">
  <a class="link link-nav" href="#">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-home'></use>
    </svg>
    <div class="link__label">Главная</div>
  </a>
</div>
<div class="mb-3">
  <a class="link link-nav-secondary" href="#">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-home'></use>
    </svg>
    <div class="link__label">Главная</div>
  </a>
</div>