<div class="mb-3">
  <div class="list list-user-options">
    <div class="list__item">
      <div class="list__item-icon-wrap">
        <svg class='list__item-icon svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-star'></use>
        </svg>
      </div>
      <div class="list__item-body">
        <div class="list__item-main"><strong>Ваш тариф:</strong> Premium</div>
        <div class="list__item-status">Активен до 2022-07-30</div>
      </div>
    </div>
    <div class="list__item">
      <div class="list__item-icon-wrap">
        <svg class='list__item-icon svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-rate'></use>
        </svg>
      </div>
      <div class="list__item-body">
        <div class="list__item-main"><strong>Ваш бот:</strong> Имя бота</div>
        <div class="list__item-status">Статус бота: включен</div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <ul class="list list-categories">
    <li>
      <a class="link link-nav-secondary" href="#">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-menu'></use>
        </svg>
        <div class="link__label">Категории</div>
      </a>
    </li>
    <li>
      <a class="link link-nav-secondary" href="#">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-good'></use>
        </svg>
        <div class="link__label">Товары</div>
      </a>
    </li>
    <li>
      <a class="link link-nav-secondary" href="#">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-basket'></use>
        </svg>
        <div class="link__label">Заказы</div>
      </a>
    </li>
  </ul>
</div>

<div class="mb-3">
  <div class="list list-stats">
    <ul class="list__list row row-cols-1 row-cols-sm-2 row-cols-md-auto gx-3 gy-3">
      <li class="list__item col">
        <div class="list__item-head">
          <div class="list__item-ratio ratio ratio-1x1">
            <img src="img/icon-stats-0.svg" alt="">
          </div>
          <div class="list__item-head-title">Категорий</div>
        </div>
        <div class="list__item-body">
          <div class="list__item-value">4</div>
          <div class="list__item-progressbar">
            <div class="list__item-progressbar-line" style="width: 10%">&nbsp;</div>
          </div>
        </div>
      </li>
      <li class="list__item col">
        <div class="list__item-head">
          <div class="list__item-ratio ratio ratio-1x1">
            <img src="img/icon-stats-1.svg" alt="">
          </div>
          <div class="list__item-head-title">Страниц</div>
        </div>
        <div class="list__item-body">
          <div class="list__item-value">14</div>
          <div class="list__item-progressbar">
            <div class="list__item-progressbar-line" style="width: 20%">&nbsp;</div>
          </div>
        </div>
      </li>
      <li class="list__item col">
        <div class="list__item-head">
          <div class="list__item-ratio ratio ratio-1x1">
            <img src="img/icon-stats-2.svg" alt="">
          </div>
          <div class="list__item-head-title">Товаров</div>
        </div>
        <div class="list__item-body">
          <div class="list__item-value">19</div>
          <div class="list__item-progressbar">
            <div class="list__item-progressbar-line" style="width: 25%">&nbsp;</div>
          </div>
        </div>
      </li>
      <li class="list__item col">
        <div class="list__item-head">
          <div class="list__item-ratio ratio ratio-1x1">
            <img src="img/icon-stats-3.svg" alt="">
          </div>
          <div class="list__item-head-title">Подписчиков</div>
        </div>
        <div class="list__item-body">
          <div class="list__item-value">82</div>
          <div class="list__item-progressbar">
            <div class="list__item-progressbar-line" style="width: 35%">&nbsp;</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="mb-3">
  <div class="list list-subscribers">
    <div class="list__item">
      <div class="row row-cols-auto align-items-center justify-content-between gy-2 gx-2">
        <div class="col">
          <div class="list__item-subscriber">
            <div class="list__item-subscriber-avatar ratio ratio-1x1">
              <img src="img/img-subscriber-0.png" alt="">
            </div>
            <div class="list__item-subscriber-name">fiueyy</div>
          </div>
        </div>
        <div class="col">
          <div class="list__item-subscriber-date">15.02.2021</div>
        </div>
      </div>
    </div>
  </div>
</div>