<div class="mb-3">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#top-up-balance"
  >
    Пополнение баланса
  </button>
  <div
    class="modal modal-base fade"
    id="top-up-balance"
    tabindex="-1"
    aria-labelledby="top-up-balanceLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6>Пополнение баланса</h6>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-2">
              <input class="form-control" type="number" />
            </div>
            <a class="modal__link" href="#">Пополнение через Click</a>
          </form>
        </div>
        <div class="modal-footer">
          
          <div class="mb-2">
            <button class="button button-base w-100" type="submit">Оплатить</button>
          </div>
          <div class="mb-2">
            <a
              class="button button-third w-100"
              href="#"
              data-bs-dismiss="modal"
              aria-label="Close"
              >Вернуться назад</a
            >
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
