<div class="row row-cols-auto gy-3 gx-3">
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-angle'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-basket'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-bell'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-check'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-close'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-cog'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-data'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-dots'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-email'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-error'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-good'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-grab'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-home'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-lang'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-logout'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-menu'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-page'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-pen'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-plus'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-rate'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-ready'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-search'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-sort'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-star'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-time'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-translation'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-upload'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-user'></use>
    </svg>
  </div>
  <div class="col">
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-right-arrow'></use>
    </svg>
  </div>
</div>