<div class="mb-3">
  <div class="title title--1">Lorem ipsum dolor sit amet.</div>
  <div class="title title--2">Lorem ipsum dolor sit amet.</div>
  <div class="title title--3">Lorem ipsum dolor sit amet.</div>
  <div class="title title--4">Lorem ipsum dolor sit amet.</div>
  <div class="title title--5">Lorem ipsum dolor sit amet.</div>
  <div class="title title--6">Lorem ipsum dolor sit amet.</div>
</div>
