.form-control {
  font-size: var(--text-3);
  color: var(--cf-0-1);
  background-color: var(--bgc-0-0);
  border: 1px solid var(--bdc-1-3);
  border-radius: 5 / 14 + em;
  height: 46 / 14 + em;
  padding: 5 / 14 + em 20 / 14 + em;
  @include iph() {
    color: var(--cf-2-0);
  }
  &:hover {
    border-color: var(--bdc-1-2);
  }
  &:focus {
    box-shadow: none;
    border-color: var(--bdc-1-5);
  }
}