.form {

}
.form-search {
  position: relative;
  .form__search-submit {
    @extend .button-clear;
    position: absolute;
    top: 50%;
    left: 20 / 12 + em;
    transform: translate(0, -50%);

    font-size: var(--text-4);
    color: var(--cf-2-4);
    line-height: 1;
  }
  .form-control {
    padding-left: 40 / 14 + em;
    border-color: var(--bdc-1-4);
    &:focus {
      border-color: var(--bdc-1-5);
    }
  }
}