.custom-scroll {
  overflow-y: auto;
  &::-webkit-scrollbar {
    
  }
  
  /* Track */
  &::-webkit-scrollbar-track {

  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {

  }
  
  
  &::-webkit-scrollbar-thumb:hover {
  
  }
}