.gradient-0 {
  background: linear-gradient(135.33deg, #22BE9C 0%, #FBCF33 119.94%);
}
.gradient-1 {
  background: linear-gradient(135.33deg, rgba(34, 190, 156, 0.5) 0%, rgba(251, 207, 51, 0.5) 119.94%);
}