@if $isBootstrap == false {
	.text-decoration-underline {
		text-decoration: underline;
	}
	.text-decoration-none {
		text-decoration: none;
	}
	a.text-decoration-none {
		&:hover {
			text-decoration: underline;
		}
	}
}