
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--cf-0-1);
}

@if $config {
	@each $group in $config {
		$groupName: map-get($group, 'name');
		$selector: map-get($group, 'selector');
		$items: map-get($group, 'options');
		@if $groupName == 'font-size-title' {
			@each $item in $items {
				$key: map-keys($item);
				$value: map-values($item);
				// @include set-typography('.text--#{$name}', $groupName, $name, null, $value);
				#{$selector}#{$key} {
					font-size: var(--#{$selector}-#{$key});
				} 
			}
		}
	};
}

p {

}
b, strong {
  font-weight: 700;
}
em, i {

}

ol {

}
ul {

}
a {
	text-decoration: none;
  color: var(--link-color);
  &:hover {
    color: var(--link-color);
		text-decoration: underline;
  }
}


.devider {
  
}

small, time {
}

img {
  max-width: 100%;
  height: auto;
	object-fit: cover;
}

hr {
  
}

.devider {
	border: none;
	border-bottom: 1px solid var(--bdc-0-2);
}
.devider-secondary {
	border-bottom: 3px solid var(--bdc-0-2);
}



.content {
  
}

blockquote {
  
}
