@mixin media($screen, $value) {
	@if($screen == 'm') {
		@media only screen and(min-width: $value + 'px') {
			@content;
		}
	} 
	@if($screen == 'd') {
		@media only screen and(max-width: $value - 1 + 'px') {
			@content;
		}
	}
}